.message {
    border: 1px solid green;
    margin: 0; 
    width: 440px;   
}

.author {
   font-weight: bold; 
}

.form {
    /*border: 1px solid blue;*/
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;     
    margin: 20px;  
}

.inputMessage {
    background: #fce9c0; /* Цвет фона */
    border: 2px solid #a9c358; /* Параметры рамки */
    padding: 5px; /* Поля */
    width: 400px; /* Ширина */
    height: 100px; /* Высота */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    font-size: 12px; /* Размер шрифта */    
}

.inputAuthor {
    background: #fce9c0; /* Цвет фона */
    border: 2px solid #a9c358; /* Параметры рамки */
    padding: 5px; /* Поля */
    width: 400px; /* Ширина */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    font-size: 12px; /* Размер шрифта */    
}

.buttonSend {
    width: max-content;
    margin: 10px;
}